<div class="">
  <%= simple_form_for [user_challenge, note] do |f| %>
    <%= f.input :note, label: false, input_html: { autofocus: true } %>
    <div>
      <%= link_to "Cancel", user_challenge_path(user_challenge), class: "" %>
      <%= f.submit note.id.nil? ? "Create" : "Save", class: "" %>
    </div>
  <% end %>
</div>
