<%= turbo_frame_tag note do %>
  <div class="">
    <div class="">
      <%= note.note %>
    </div>
    <div class="">
      <%= link_to "Edit", edit_user_challenge_note_path(note.user_challenge, note), class: "" %>
      <%= link_to "Delete", note_path(note), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "" %>
    </div>
  </div>
<% end %>
