<%= turbo_frame_tag comment do %>
  <div class="">
    <div class="">
      <%= markdown(comment.message) %>
    </div>
    <div class="">
      <%= link_to "Edit", edit_user_challenge_comment_path(comment.user_challenge, comment), class: "" %>
      <%= link_to "Delete", comment_path(comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "" %>
    </div>
  </div>
<% end %>
