<div class="">
  <%= simple_form_for [user_challenge, comment] do |f| %>
    <%= f.input :message, label: false %>
    <div>
      <%= link_to "Cancel", user_challenge_path(user_challenge), class: "" %>
      <%= f.submit comment.id.nil? ? "Create" : "Save", class: "" %>
    </div>
  <% end %>
</div>
