.idk {
   display: flex;
   flex-direction: row;
}

.pathwayinformation {}

.ChallengeForm {
   border-radius: 20px;
   background-color: rgb(233, 238, 255);
   width: 45%;
   margin-top: 6%;
   margin-left: 70%;
}

.NewChallengeHeader {
   margin-top: 30px;
   margin-left: 10%;
   margin-bottom: 30px;
   font-size: 30px;
   font-weight: bold;
   letter-spacing: 2px;
}

.FormStyle {
   margin-left: 10%;
   margin-bottom: 30px;
}