.challenge_title {
   font-size: 60px;
   position: relative;
   top: 45px;
   right: -80px;
}

.challenge_text {
   position: relative;
   left: 856px;
   top: 3px;
   width: 623px;
   margin-bottom: 46px;
}

.back_button {
   position: relative;
   padding-left: 5pc;
}

.mentor_img {
   height: 354px;
   width: 623px;
   top: 2px;
   border-radius: 0px;
   position: relative;
   left: 820px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   margin-left: 30px;
}