<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <link rel="stylesheet" href="style.css"/>
    <title>Hello world</title>
    
  </head

  <body>
     <div id="banner">
    <div class="">
    <h1>Hello buddies!</h1>
    <h2>Welcome to Mentor Pathway</h2>
    <p>Connenting you to mentors, who wil help you develop your future in tech</p>
    </div> 

  </body>
</html>
<!-- end of file -->


<div id="banner">