<div class="container" >
  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum volutpat enim non egestas. Fusce quam diam, euismod sed justo non, ullamcorper rhoncus ipsum. Sed vulputate et nisi a volutpat. Quisque lobortis quam vitae arcu blandit vulputate. Etiam tortor urna, luctus id sagittis nec, sodales in nulla. Ut aliquam lorem mattis, aliquet tortor eget, pulvinar eros. Aliquam eget sodales mauris. Quisque mattis ipsum ut elit lacinia viverra. Pellentesque nec eros tortor. Donec id egestas nulla. Vivamus libero felis, gravida vel pharetra tincidunt, dignissim vitae erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam et commodo ligula. Nullam vel felis rutrum, tempus odio eu, congue diam. Quisque scelerisque nisl id convallis pellentesque.</div>
  <img src="" alt="">
</div>
