
  <div class="px-12 py-24 mx-auto mt-16 text-center bg-gray-50 text-white-800" id="banner">
    <h1 class="mb-12 text-5xl font-bold tracking-tight text-white md:text-6xl xl:text-7xl">Connecting experienced to fresh talent<br /><span class="text-blue-600">a better pathway to sucess</span></h1>
    <a class="inline-block py-3 mr-2 text-sm font-medium leading-snug text-white uppercase transition duration-150 ease-in-out bg-blue-600 rounded shadow-md px-7 hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg" data-mdb-ripple="true" data-mdb-ripple-color="light" href="#!" role="button">Get started</a>
    <a class="inline-block py-3 text-sm font-medium leading-snug text-blue-600 uppercase transition duration-150 ease-in-out bg-transparent rounded px-7 hover:text-blue-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200" data-mdb-ripple="true" data-mdb-ripple-color="light" href="#!" role="button">Learn more</a>
  </div>
  <div class="container py-24 mx-auto" >

     <section class="mb-32 text-gray-800">
    <!-- Jumbotron -->
    <div class="container mx-auto text-center xl:px-32 lg:text-left">
      <div class="grid items-center lg:grid-cols-2">
        <div class="mb-12 lg:mb-0">
          <div class="block px-6 py-12 rounded-lg shadow-lg md:px-12 lg:-mr-14"
            style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px)">
            <h2 class="mb-6 text-3xl font-bold text-center ">Mentor Pathway</h2>
            <p class="pb-2 mb-6 text-gray-500 lg:pb-0">
              Mentor Pathway is a platform community which has members from the UK tech industry.
              This includes a wide range mentors from all levels to get connected to mentees.
            </p>

            <div class="flex flex-col mx-auto mb-6 md:flex-row md:justify-around lg:justify-between">
              <p class="flex items-center mx-auto mb-4 md:mb-2 lg:mb-0 md:mx-0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 mr-2">
                  <path fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                  </path>
                </svg>
                Experienced IT professionals
              </p>

              <p class="flex items-center mx-auto mb-4 md:mb-2 lg:mb-0 md:mx-0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 mr-2">
                  <path fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                  </path>
                </svg>
                Aspiring IT professionals
              </p>

              <p class="flex items-center mx-auto mb-2 lg:mb-0 md:mx-0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 mr-2">
                  <path fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                  </path>
                </svg>
                Matching mentors with mentees
              </p>
            </div>

            <p class="mb-0 text-gray-500">
            Mentor pathway is a platform designed to connect mentors and mentees within the tech industry.
            We aim to allow mentors to set mentees technical challenges and even create learning pathways
            for them to follow and grow with. Most importantly we want to create an opportunity for mentees
            to build a genuine professional connection with their mentors.
            </p>
          </div>
        </div>

        <div>
          <%= image_tag('pure-cheese.jpg', :class => "w-full rounded-lg shadow-lg") %>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>


    <section class="mb-32 text-gray-800">
    <!-- Jumbotron -->
    <div class="container mx-auto text-center xl:px-32 lg:text-left">
      <div class="grid items-center lg:grid-cols-2">
        <div>
          <%= image_tag('black-mentor.jpg', :class => "w-full rounded-lg shadow-lg") %>
        </div>
        <div class="mb-12 lg:mb-0">
          <div class="block px-6 py-12 rounded-lg shadow-lg md:px-12 lg:-mr-14"
            style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px)">
            <h2 class="mb-6 text-3xl font-bold text-center">Become a Mentor</h2>
            <p class="pb-2 mb-6 text-gray-500 lg:pb-0">
              This is a great way to share the wealth of knowledge you have obtained throughout your
              career, and give back to aspiring tech
            </p>

            <div class="flex flex-col mx-auto mb-6 md:flex-row md:justify-around lg:justify-between">
              <p class="flex items-center mx-auto mb-4 md:mb-2 lg:mb-0 md:mx-0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 mr-2">
                  <path fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                  </path>
                </svg>
                Create real world challenges
              </p>

              <p class="flex items-center mx-auto mb-4 md:mb-2 lg:mb-0 md:mx-0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 mr-2">
                  <path fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                  </path>
                </svg>
                Give personal feedback
              </p>

              <p class="flex items-center mx-auto mb-2 lg:mb-0 md:mx-0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 mr-2">
                  <path fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                  </path>
                </svg>
                Access to calenders
              </p>
            </div>

            <p class="mb-0 text-gray-500">
              You can create real world challenges to help mentees progress in their career. Mentor Pathway
              will allow you to give back to aspiring IT professionsals who are hungry to do well in their
              career.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>

 <section class="mb-32 text-gray-800">
    <!-- Jumbotron -->
    <div class="container mx-auto text-center xl:px-32 lg:text-left">
      <div class="grid items-center lg:grid-cols-2">
        <div class="mb-12 lg:mb-0">
          <div class="block px-6 py-12 rounded-lg shadow-lg md:px-12 lg:-mr-14"
            style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px)">
            <h2 class="mb-6 text-3xl font-bold text-center">Find a mentor</h2>
            <p class="pb-2 mb-6 text-gray-500 lg:pb-0">
              Mentors in the Mentor Pathway community can help you answer a variety of questions related
              to your career, whatever stage you’re at.
            </p>

            <div class="flex flex-col mx-auto mb-6 md:flex-row md:justify-around lg:justify-between">
              <p class="flex items-center mx-auto mb-4 md:mb-2 lg:mb-0 md:mx-0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 mr-2">
                  <path fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                  </path>
                </svg>
                Direct contact with mentors
              </p>

              <p class="flex items-center mx-auto mb-4 md:mb-2 lg:mb-0 md:mx-0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 mr-2">
                  <path fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                  </path>
                </svg>
                Accept challenges set
              </p>

              <p class="flex items-center mx-auto mb-2 lg:mb-0 md:mx-0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 mr-2">
                  <path fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                  </path>
                </svg>
                Track your progression
              </p>
            </div>

            <p class="mb-0 text-gray-500">
              Our mentors have been there, they’ve done it. They are now in a space in their careers
              where they want to give something back, so they volunteer as mentors through Mentor Pathway.
              From small companies to London’s hottest startups, our mentors come from far and wide within the UK.
              From senior developers to experienced CTOs, contractors to business leadership.
            </p>
          </div>
        </div>

        <div>
          <%= image_tag('kenny-eliason-y_6rqStQBYQ-unsplash.jpg', :class => "w-full rounded-lg shadow-lg") %>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
</div>