<div class="mt-16 p-12">
  <h1>This is Pathway #Index Page.</h1>

  <% if @pathways %>
    <% @pathways.each do |pathway| %>
      <%= render "pathway", pathway: pathway %>
    <% end %>
  <% else %>
    <h1 class="error">Ooops no pathways here!</h1>
  <% end %>
</div>
