<div>
  <%= simple_form_for [pathway, challenge] do |f| %>
    <div class="my-3">
      <p>Title</p>
      <%= f.input :title, label: false %>
    </div>
    <div class="my-3">
      <p>Details</p>
      <%= f.input :details, label: false, input_html: { style: "width: 30%" } %>
    </div>
    <%= f.submit challenge.nil? ? "Save" : "Create", class: "border rounded mt-3 py-2 px-3 bg-blue-700 text-white" %>
  <% end %>
</div>
