<div>
  <%= simple_form_for [pathway, challenge] do |f| %>
    <div class="">
      <p>Title</p>
      <%= f.input :title, label: false %>
    </div>
    <div class="">
      <p>Details</p>
      <%= f.input :details, label: false, input_html: { style: "width: 30%" } %>
    </div>
    <%= f.submit challenge.nil? ? "Save" : "Create", class: "" %>
  <% end %>
</div>
