<div class="">
  <%= link_to "Back", pathway_challenge_path(@pathway, @challenge) %>
  <p class="font-bold">This is Challenge #Edit page</p>
  <%= render "challenges/form", pathway: @pathway, challenge: @challenge %>
</div>
