@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./pages/_index.scss";
@import "./components/_index.scss";


nav {
   position: sticky;
   top: 0;
   z-index: 50;
 }

 nav {
   background-color: white;
   border: 1px solid whitesmoke;
   padding: 1rem;
 }

 .rounded-pill {
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 16px;
 }