 <div class="mt-5">
  <%= simple_form_for [pathway, path_challenge] do |f| %>
    <div class="my-3">
      <p>Challenges</p>
      <%= f.association :challenge, label: false, input_html: { multiple: true } %>
    </div>
    <%= f.submit path_challenge.nil? ? "Save" : "Create", class: "border rounded mt-3 py-2 px-3 bg-blue-700 text-white" %>
  <% end %>
</div>
