 <div class="">
  <%= simple_form_for [pathway, path_challenge] do |f| %>
    <div class="">
      <p>Challenges</p>
      <%= f.association :challenge, label: false, input_html: { multiple: true } %>
    </div>
    <%= f.submit path_challenge.nil? ? "Save" : "Create", class: "" %>
  <% end %>
</div>
